Source: community-ssu-enabler
Section: user/system
Priority: optional
Maintainer: Mohammad Abu-Garbeyyeh <mohammad7410@gmail.com>
Build-Depends: debhelper

Package: community-ssu-enabler
Architecture: all
Depends: hildon-application-manager, osso-gnupg | gnupg, apt
Description: Configures the Maemo 5 Community SSU repo.
XSBC-Maemo-Display-Name: Community SSU enabler
XSBC-Maemo-Upgrade-Description: Install this to receive community software updates.
 NOTE: These are unofficial software updates provided by the
 maemo.org community with no warranty expressed or implied and
 are not supported by Nokia.
